<!DOCTYPE html>
<html>

<head>
    <title>203alimi</title>
    <link rel="stylesheet" href="../css/index1.css">
</head>

<body>

    <header class="header">
        <div class="box1">
            <div class="dark-mode-toggle">
                <input type="checkbox" id="dark-mode-checkbox">
            </div>
            <div class="logoBox">
                <div class="logo">203alimi</div>
            </div>
        </div>
        <div class="buttons">
            <button> <a href="https://203alimi.netlify.app/html/signup">Sign up</a></button>
            <button> <a href="https://203alimi.netlify.app/html/login.html">Login</a></button>
        </div>
    </header>
    <main class="main">
        <div class="cg_wrap">
            <div class="clean_group">
                <h2>교실청소: </h2>
                <div class="box">
                    <p class="1">
                        <%=sg.group_one%>
                    </p>
                    <p class="2">
                        <%=sg.group_two%>
                    </p>
                    <p class="3">
                        <%=sg.group_three%>
                    </p>
                    <p class="4">
                        <%=sg.group_four%>
                    </p>
                    <p class="5">
                        <%=sg.group_five%>
                    </p>
                </div>
            </div>
            <h2 class="second_h2">특별구역 청소: </h2>
            <span class="contentBox"></span>
        </div>
    </main>
    <footer class="footer">
        로그인 하셔서 더 많은 기능을 사용하세요!
    </footer>
<script src="../js/index.js"></script>
</body>

</html>